@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/InterVariable.ttf)
}

@theme {
    --font-inter: "Inter", sans-serif;
    --color-red-980: oklch(0.2029 0.0518 26.042);
}